@CHARSET "UTF-8";
/* icons */
.icon-mywebwares {
    background-image:url(../images/mywebwares-32.png) !important;
}
.icon-recommandwebwares {
    background-image:url(../images/recommandwebwares-32.png) !important;
}
.icon-allwebwares {
    background-image:url(../images/allwebwares-32.png) !important;
}
.icon-webwarecd {
    background-image:url(../images/webwarecd-32.png) !important;
}
.icon-upgradewebwares {
    background-image:url(../images/upgradewebwares-32.png) !important;
}
.icon-uninstallwebwares {
    background-image:url(../images/uninstallwebwares-32.png) !important;
}
.icon-topwebwares {
    background-image:url(../images/topwebwares-32.png) !important;
}

.webware-name  {
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 8px;
}
.webware-desc {
	color: #464646;
}
.webware-score {
	height: 16px;
	background: url(../images/score-16.png) repeat-x;
}